{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

**main/accounts_form.html**

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.user_name|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.user_email|as_crispy_field }}
      </div>
    </div>
    {{ form.user_date_registration|as_crispy_field }}
    {{ form.user_count_uploads|as_crispy_field }}
    <button type="submit" class="btn btn-success">Save account</button>
  </form>
{% endblock %}